<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Caching</title>

    <script
            crossorigin="anonymous"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- Latest compiled and minified CSS & JS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen"
          rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>Caching with Spring Boot</h1>
        <p>Use Caching to speed up load times</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <form enctype="multipart/form-data" method="post" role="form" th:action="@{/upload}">
            <legend>Upload a File</legend>

            <div class="form-group">
                <label for="file">Input File</label>
                <input class="form-control" id="file" name="file" type="file"></input>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="row">
        <form method="post" role="form" th:action="@{/load}">
            <legend>Enter ID to Load File</legend>

            <div class="form-group">
                <label for="id">Enter ID</label>
                <input class="form-control" id="id" name="id" placeholder="0" type="number"></input>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="row" th:if="${found}">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Primary Key</th>
                <th>File Name</th>
                <th>Mime</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${id}"></td>
                <td th:text="${name}"></td>
                <td th:text="${mime}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row" th:if="${found == false}">
        <p>Couldn't find requested file</p>
    </div>
</div>


</body>
</html>